::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444444;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #333333 transparent;
}

.bn-container {
  --bn-colors-editor-background: #101010 !important;
}
